<h1>Hello from AlgoBun</h1>
<p>
  It is now <%= @time %>
</p>

<p>
  Say <a href="/say/goodbye"> goodbye</a>
  say again <%= link_to 'preprocessor', say_goodbye_path%>
  Addition <%= 1+2 %>
  Concatenate: <%= "cow" + "boy"%>
  Time in one hour: <%= 1.hour.from_now.localtime%>
</p>